.Banner {
  width: 88%;
  height: 17%;

  position: absolute;
  top: 0;
  left: 12%;

  background-color: rgb(255, 169, 34);
}

.Banner h1 {
  font-size: 5rem;

  position: relative;
  bottom: 60px;

  display: flex;
  justify-content: center;
}

.Banner p {
  font-size: 2.5rem;

  position: relative;
  bottom:140px;

  display: flex;
  justify-content: center;
}
