.mainContainer {
    z-index: 6;

    display: flex;
    width: 67vw;
    height: 12vh;

    position: absolute;
    top: 86%;
    left: 12%;

    background-color: hsla(124, 19%, 46%, 35%);
}

.thumbnailBar {
    display: flex;
    flex-direction: row;
}

.photoThumbnail {
    /* list-style: none; */
}
