.mainContainer {
    z-index: 6;

    display: flex;
    width: 67vw;
    height: 12vh;

    position: absolute;
    top: 86%;
    left: 12%;

    background-color: hsla(124, 19%, 46%, 0);
}

.thumbnailBar {
    display: flex;
    flex-direction: row;
}

.photoThumbnail {
    list-style: none;
}

.photoThumbnail img {
    opacity: 0.4;

    object-fit: cover;
    height: 10vh;
    width: 8vw;

    position: relative;
    top: -0.8vh;
    left: -1.4vw;
    padding: 2px;
}
