.navBar {
  z-index: 10;
  border-right: 7px solid rgb(197, 111, 31);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(229, 139, 0);
  height: 100%;
  width: 12%;
}

.navElement {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.navBar a {
  flex: 0.8;
  float: left;
  padding: 15px;
  margin: 15px;
  color: rgb(255, 242, 204);
  text-decoration: none;
  font-size: 1.8em;
  height: 20%;
  text-align: center;
  background-color: rgb(156, 81, 7);
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
}

a:hover {
  color: rgb(156, 81, 7);
  border: 3px solid rgb(156, 81, 7);
  border-radius: 3px;
  background-color: rgb(255, 185, 76);
}

a:active {
  color: rgb(255, 185, 76);
  border: 3px solid rgb(255, 185, 76);
  border-radius: 3px;
  background-color: rgb(156, 81, 7);
}
