@font-face {
  font-family: VCR_OSD_MONO;
  src: url(/src/assets/VCR_OSD_MONO_1.001.ttf);
}

:root {
  font-family: VCR_OSD_MONO, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 242, 204);
  background-color: rgb(255, 242, 204);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

