:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 242, 204);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  position: relative;
  top: 0;
  left: 40vw;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 3.2em;
  line-height: 1.1;

  color: rgb(255, 242, 204);
  background-color: rgb(255, 208, 37);
}
